<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>Verify OTP</title>
</head>

<body>

	<section>
		<div class="container">
			<div
				class="row min-vh-100 d-flex justify-content-center align-items-center">
				<div class="col-md-4">

					<div class="my-card rounded">

						<div class="card-header my-3">
							<h4 class="text-center">New Password</h4>
							<div th:if="${message != null}" class="alert"
								th:classappend="${'alert-' + message.type}" role="alert"
								id="flashMessage">
								<span th:text="${message.message}"></span>
							</div>

							<script th:inline="javascript">
								/*<![CDATA[*/
								setTimeout(function () {
									var msg = document.getElementById("flashMessage");
									if (msg) {
										msg.style.display = "none";
									}

									// Thymeleaf se flash attribute get karo
									var redirectUrl = /*[[${redirectUrl}]]*/ '';
									if (redirectUrl && redirectUrl.length > 0) {
										window.location.href = redirectUrl;
									}
								}, 3000);
								/*]]>*/
							</script>
						</div>

						<div class="card-body">

							<form th:action="@{/new-password}" th:method="post">

								<div class="my-3">
									<input type="password" class="form-control" name="newPassword"
										placeholder="Enter new password" required="required">
								</div>

								<div class="container text-center my-3">
									<button type="submit" class="btn bg-primary text-white">Change
										Password</button>
								</div>
							</form>

						</div>

					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>