<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Homepage</title>
</head>
<body>

	<section class="banner">

		<div>
			<h1 class="font-weight-bold">Contacts360 - Smart Contact Manager</h1>
			<p>Store your important contacts in a smart way. We provide very
				efficient and smarter way to handle your contacts.</p>
			<a th:href="@{/signup}">
				<button class="btn bg-primary btn-lg text-white">Get
					Started</button>
			</a>

		</div>

	</section>

</body>
</html>