<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 offset-md-4">

					<div class="my-card mt-4 rounded">
						<div class="text-center mb-3">
							<img th:src="@{/img/register.png}" style="width: 80px"
								class="mb-3">
							<h2>Login Your Account</h2>
						</div>

						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username or password</div>

						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out</div>

						<form th:action="@{/dologin}" th:method="post">

							<!-- Email field mapped as username -->
							<div class="mb-3">
								<label for="username" class="form-label">Email</label> <input
									type="email" class="form-control" name="username"
									placeholder="Enter your email" required="required">
							</div>

							<!-- Password field -->
							<div class="mb-1">
								<label for="password" class="form-label">Password</label> <input
									type="password" class="form-control" name="password"
									placeholder="Enter your password" required="required">
							</div>

							<div class="mb-3">
								<a th:href="@{/forgot}">Forgot password?</a>
							</div>

							<div class="container text-center">
								<button type="submit" class="btn bg-primary text-white">Login</button>
							</div>
						</form>

					</div>

				</div>
			</div>
		</div>
	</section>

</body>
</html>